$green: #1baf5d;
$red: #e94e38;
$orange: #f19e1f;
$purple: #88499c;
$grey: #96a6a7;
$silver: #566375;

$weight-light: 400;
$weight-norm: 500;
$weight-bold: 700;

$radius-round: 50%;
$radius-md: 30px;

$width-lg: 1040px;
$width-md: 768px;
$width-sm: 480px;